<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>JAMAiCA</title>

    <th:block th:include="base :: js"/>
    <th:block th:include="base :: css"/>

</head>

<body>

<div id="wrapper">

    <th:block th:include="navbar :: navbar"/>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Classification Job #<span th:text="${classification.id}"></span>
                    <small>(<a th:href="@{${classification.id}}+'/results'">View Results</a>)</small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Classification Job #<span
                            th:text="${classification.id}"></span>
                        <button type="button" th:onclick="'deleteClassification('+${classification.id}+')'"
                                class="btn btn-sm btn-danger">Delete
                        </button>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <form role="form">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>typePat</label>
                                        <input class="form-control" id="typePat" name="typePat"
                                               th:value="${classification.typePat}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>idPat</label>
                                        <input class="form-control" th:value="${classification.idPat}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>attribute</label>
                                        <input class="form-control" th:value="${classification.attribute}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <pre id="entities-pre">

                                        </pre>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>tags</label>
                                        <input class="form-control" id="tags" name="tags"
                                               th:value="${classification.tagDomain}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <pre id="tags-pre">

                                        </pre>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>contextBrokerUrl</label>
                                        <input class="form-control" th:value="${classification.contextBrokerUrl}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>contextBrokerService</label>
                                        <input class="form-control" th:value="${classification.contextBrokerService}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>contextBrokerServicePath</label>
                                        <input class="form-control"
                                               th:value="${classification.contextBrokerServicePath}"/>
                                        <p class="help-block"></p>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label>subscriptionId</label>-->
                                        <!--<input class="form-control hidden" th:value="${classification.subscriptionId}"/>-->
                                        <!--<br/>-->
                                        <!--<span th:text="${classification.subscriptionId}"></span>-->
                                        <!--<p class="help-block"></p>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label>lastSubscription</label>-->
                                        <!--<input class="form-control hidden"-->
                                               <!--th:value="${classification.lastSubscription}"/>-->
                                        <!--<br/>-->
                                        <!--<span th:text="${classification.lastSubscription}"></span>-->
                                        <!--<p class="help-block"></p>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <p>
                                            <th:block th:if="${classification.enable}">
                                                <button type="button"
                                                        th:onclick="'enableClassification('+${classification.id}+',false)'"
                                                        class="btn btn-sm btn-success">Enabled
                                                </button>
                                            </th:block>
                                            <th:block th:unless="${classification.enable}">
                                                <button type="button"
                                                        th:onclick="'enableClassification('+${classification.id}+',true)'"
                                                        class="btn btn-sm btn-warning">Disabled
                                                </button>
                                            </th:block>
                                        </p>
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Actions</label>
                                        <p>
                                            <button type="button"
                                                    th:onclick="'trainClassification('+${classification.id}+')'"
                                                    class="btn btn-sm btn-success">Train
                                            </button>
                                            <button type="button"
                                                    th:onclick="'subscribeClassification('+${classification.id}+')'"
                                                    class="btn btn-sm btn-success">Subscribe
                                            </button>
                                        </p>
                                        <p class="help-block"></p>
                                    </div>
                                    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
                                    <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
                                </div>
                            </form>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Training Data
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>tag</th>
                                            <th>value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="item : ${trainData}">
                                            <tr>
                                                <td th:text="${item.id}">id</td>
                                                <td th:text="${item.tag}">tag</td>
                                                <td th:text="${item.value}">value</td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Add Training Data
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" method="post"
                                      th:action="@{'/web/classification/'+${classification.id}+'/train/add'}">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Tag</label>
                                            <select class="form-control" id="tag" name="tag" required="required">

                                            </select>
                                            <p class="help-block"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Value</label>
                                            <input class="form-control" id="value" name="value" required="required"/>
                                            <p class="help-block"></p>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm" onclick="addTrainData()">Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $.get("https://annotations.organicity.eu/tagDomains/" + $("#tags").val()).success(function (e) {
            var ids = $.map(e.tags, function (a, i) {
                $('#tag').append($('<option>', {
                    value: a.urn,
                    text: a.urn
                }));
                return a.urn;
            });

            $("#tags-pre").text(JSON.stringify(ids, null, 2));
        })
        $.get("https://discovery.organicity.eu/v0/assets/metadata/search?page=1&per=20&query=" + $("#typePat").val()).success(function (e) {
            var ids = $.map(e, function (a, i) {
                return a.id;
            });
            $("#entities-pre").text(JSON.stringify(ids, null, 2));
        })
    });
    /*]]>*/
</script>
</body>
</html>