<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>JAMAiCA</title>

    <!-- Bootstrap Core CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Timeline CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div th:fragment="navbar">
    <script th:inline="javascript">
        $(document).ready(function () {

            /*<![CDATA[*/
            var principal = /*[[${principal}]]*/ '';
            console.log(principal);
            /*]]>*/
            $("#oc-nav").organicityNavigation("/oauth/", "/logout", principal.keycloakSecurityContext.tokenString);
        });

        $(document).ready(function () {
            $(document).ready(function(){
                $('.table').DataTable();
            });
        });
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top yamm" style="margin-bottom: 0" >
        <div class="navbar-header" id="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/oc_logo.png" class="logo"/>
            </a>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-collapse collapse" id="oc-nav"></div>

        <th:block th:include="sidebar :: sidebar"/>

        <!--<th:block th:include="sidebar :: sidebar"></th:block>-->
    </nav>

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/raphael.min.js"></script>
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris.min.js"></script>
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>

</body>

</html>